### Reading record.json file

In [2]:
fd = open("record.json",'r')
txt = fd.read()
fd.close()

### Printing the text file from record.json

In [3]:
txt

'{ "11602260": {"Name": "LOUIS VUITTON", "Mft. Date": "23-01-2021","Qty": 10000,"Price": 250,"Discount": 50}, \n           "11602261": {"Name": "GUCCI", "Mft. Date": "25-01-2021","Qty":9500,"Price": 240,"Discount": 45},\n           "11602262": {"Name": "VERSACE", "Mft. Date": "27-01-2021","Qty":9000,"Price": 230,"Discount": 40}, \n           "11602263": {"Name": "PRADA", "Mft. Date": "29-01-2021","Qty":8500,"Price": 220,"Discount": 35},\n           "11602264": {"Name": "GIVENCHI", "Mft. Date": "31-01-2021","Qty": 8000,"Price": 210,"Discount": 30},\n           "11602265": {"Name": "ARMANI", "Mft. Date": "03-02-2021","Qty":7500,"Price": 200,"Discount": 25},\n           "11602266": {"Name": "FENDI", "Mft. Date": "05-02-2021", "Qty" : 7000,"Price": 190,"Discount": 20}, \n           "11602267": {"Name": "CHANEL", "Mft. Date": "07-02-2021", "Qty":6500,"Price": 180,"Discount": 15},\n           "11602268": {"Name": "RALPH LAUREN", "Mft. Date": "09-02-2021", "Qty" : 6000,"Price": 170,"Discount": 10}, \n           "11602269": {"Name": "HUGO BOSS", "Mft. Date": "11-02-2021", "Qty":5500,"Price" : 160,"Discount": 50},\n           "11602270": {"Name": "HERMES", "Mft. Date": "13-02-2021",  "Qty" : 5000,"Price" : 160,"Discount": 45}, \n           "11602271": {"Name": "YVES SAINT LAURENT", "Mft. Date": "15-02-2021", "Qty":4500,"Price" : 160,"Discount": 40},\n           "11602272": {"Name": "DIOR", "Mft. Date": "17-02-2021", "Qty" : 4000,"Price" : 150,"Discount": 35}, \n           "11602273": {"Name": "VALENTINO", "Mft. Date": "19-02-2021", "Qty":3500,"Price" : 140,"Discount": 30},\n           "11602274": {"Name": "SALVATORE FERRAGAMO", "Mft. Date": "21-02-2021", "Qty" : 3000,"Price" : 130,"Discount": 25}, \n           "11602275": {"Name": "DOLCE & GABBANA", "Mft. Date": "23-02-2021", "Qty":2500,"Price" : 120,"Discount": 20},\n           "11602276": {"Name": "MARC JACOBS", "Mft. Date": "25-02-2021","Qty" : 2000,"Price" : 110,"Discount": 15}, \n           "11602277": {"Name": "GUESS", "Mft. Date": "27-02-2021", "Qty":1500,"Price" : 100,"Discount": 10},\n           "11602278": {"Name": "ABERCROMBIE & FITCH", "Mft. Date": "29-02-2021", "Qty" : 1000,"Price" : 90,"Discount": 50}, \n           "11602279": {"Name": "TED BAKER", "Mft. Date": "31-02-2021", "Qty":900,"Price" : 80,"Discount": 45},\n           "11602280": {"Name": "CHRISTIAN LOUBOUTIN", "Mft. Date": "3-03-2021", "Qty" : 800,"Price" : 70,"Discount": 40}, \n           "11602281": {"Name": "CHLOE", "Mft. Date": "05-03-2021", "Qty":700,"Price" : 60,"Discount": 35},\n           "11602282": {"Name": "ALEXANDER MCQUEEN", "Mft. Date": "07-03-2021", "Qty" : 600,"Price" : 50,"Discount": 30}, \n           "11602283": {"Name": "BURBERRY", "Mft. Date": "09-03-2021", "Qty":500,"Price" : 40,"Discount": 25},\n           "11602284": {"Name": "COACH", "Mft. Date": "11-03-2021", "Qty" : 400,"Price" : 30,"Discount": 20}, \n           "11602285": {"Name": "COBB", "Mft. Date": "13-03-2021", "Qty":300,"Price" : 20,"Discount": 15},\n           "11602286": {"Name": "LOUIS PHILLIPE", "Mft. Date": "15-03-2021","Qty" : 200,"Price" : 18,"Discount": 10}, \n           "11602287": {"Name": "ALLEN SOLLY", "Mft. Date": "17-03-2021", "Qty":190,"Price" : 16,"Discount": 50},\n           "11602288": {"Name": "NIKE", "Mft. Date": "19-03-2021", "Qty" : 180,"Price" : 15,"Discount": 45}, \n           "11602289": {"Name": "ADIDAS", "Mft. Date": "21-03-2021", "Qty":100,"Price" :10 ,"Discount": 40}}'

### Checking the type of txt file

In [4]:
type(txt)

str

### Importing json file and converting into a dictionary

In [5]:
import json
record = json.loads(txt)
record

{'11602260': {'Name': 'LOUIS VUITTON',
  'Mft. Date': '23-01-2021',
  'Qty': 10000,
  'Price': 250,
  'Discount': 50},
 '11602261': {'Name': 'GUCCI',
  'Mft. Date': '25-01-2021',
  'Qty': 9500,
  'Price': 240,
  'Discount': 45},
 '11602262': {'Name': 'VERSACE',
  'Mft. Date': '27-01-2021',
  'Qty': 9000,
  'Price': 230,
  'Discount': 40},
 '11602263': {'Name': 'PRADA',
  'Mft. Date': '29-01-2021',
  'Qty': 8500,
  'Price': 220,
  'Discount': 35},
 '11602264': {'Name': 'GIVENCHI',
  'Mft. Date': '31-01-2021',
  'Qty': 8000,
  'Price': 210,
  'Discount': 30},
 '11602265': {'Name': 'ARMANI',
  'Mft. Date': '03-02-2021',
  'Qty': 7500,
  'Price': 200,
  'Discount': 25},
 '11602266': {'Name': 'FENDI',
  'Mft. Date': '05-02-2021',
  'Qty': 7000,
  'Price': 190,
  'Discount': 20},
 '11602267': {'Name': 'CHANEL',
  'Mft. Date': '07-02-2021',
  'Qty': 6500,
  'Price': 180,
  'Discount': 15},
 '11602268': {'Name': 'RALPH LAUREN',
  'Mft. Date': '09-02-2021',
  'Qty': 6000,
  'Price': 170,
  'Discount': 10},
 '11602269': {'Name': 'HUGO BOSS',
  'Mft. Date': '11-02-2021',
  'Qty': 5500,
  'Price': 160,
  'Discount': 50},
 '11602270': {'Name': 'HERMES',
  'Mft. Date': '13-02-2021',
  'Qty': 5000,
  'Price': 160,
  'Discount': 45},
 '11602271': {'Name': 'YVES SAINT LAURENT',
  'Mft. Date': '15-02-2021',
  'Qty': 4500,
  'Price': 160,
  'Discount': 40},
 '11602272': {'Name': 'DIOR',
  'Mft. Date': '17-02-2021',
  'Qty': 4000,
  'Price': 150,
  'Discount': 35},
 '11602273': {'Name': 'VALENTINO',
  'Mft. Date': '19-02-2021',
  'Qty': 3500,
  'Price': 140,
  'Discount': 30},
 '11602274': {'Name': 'SALVATORE FERRAGAMO',
  'Mft. Date': '21-02-2021',
  'Qty': 3000,
  'Price': 130,
  'Discount': 25},
 '11602275': {'Name': 'DOLCE & GABBANA',
  'Mft. Date': '23-02-2021',
  'Qty': 2500,
  'Price': 120,
  'Discount': 20},
 '11602276': {'Name': 'MARC JACOBS',
  'Mft. Date': '25-02-2021',
  'Qty': 2000,
  'Price': 110,
  'Discount': 15},
 '11602277': {'Name': 'GUESS',
  'Mft. Date': '27-02-2021',
  'Qty': 1500,
  'Price': 100,
  'Discount': 10},
 '11602278': {'Name': 'ABERCROMBIE & FITCH',
  'Mft. Date': '29-02-2021',
  'Qty': 1000,
  'Price': 90,
  'Discount': 50},
 '11602279': {'Name': 'TED BAKER',
  'Mft. Date': '31-02-2021',
  'Qty': 900,
  'Price': 80,
  'Discount': 45},
 '11602280': {'Name': 'CHRISTIAN LOUBOUTIN',
  'Mft. Date': '3-03-2021',
  'Qty': 800,
  'Price': 70,
  'Discount': 40},
 '11602281': {'Name': 'CHLOE',
  'Mft. Date': '05-03-2021',
  'Qty': 700,
  'Price': 60,
  'Discount': 35},
 '11602282': {'Name': 'ALEXANDER MCQUEEN',
  'Mft. Date': '07-03-2021',
  'Qty': 600,
  'Price': 50,
  'Discount': 30},
 '11602283': {'Name': 'BURBERRY',
  'Mft. Date': '09-03-2021',
  'Qty': 500,
  'Price': 40,
  'Discount': 25},
 '11602284': {'Name': 'COACH',
  'Mft. Date': '11-03-2021',
  'Qty': 400,
  'Price': 30,
  'Discount': 20},
 '11602285': {'Name': 'COBB',
  'Mft. Date': '13-03-2021',
  'Qty': 300,
  'Price': 20,
  'Discount': 15},
 '11602286': {'Name': 'LOUIS PHILLIPE',
  'Mft. Date': '15-03-2021',
  'Qty': 200,
  'Price': 18,
  'Discount': 10},
 '11602287': {'Name': 'ALLEN SOLLY',
  'Mft. Date': '17-03-2021',
  'Qty': 190,
  'Price': 16,
  'Discount': 50},
 '11602288': {'Name': 'NIKE',
  'Mft. Date': '19-03-2021',
  'Qty': 180,
  'Price': 15,
  'Discount': 45},
 '11602289': {'Name': 'ADIDAS',
  'Mft. Date': '21-03-2021',
  'Qty': 100,
  'Price': 10,
  'Discount': 40}}

### Checking the type of converted record.json file

In [6]:
type(record)

dict

### Fetching the data  from record on the basis of id

In [7]:
name = input("Enter name of the customer :")
id = input("Enter the id : ")
if id in record :
        print(id,"=",record[id])
else:
        print("\t\t\t\t\tInvalid input")

Enter name of the customer :Sidharth S Unnithan
Enter the id : 11602260
11602260 = {'Name': 'LOUIS VUITTON', 'Mft. Date': '23-01-2021', 'Qty': 10000, 'Price': 250, 'Discount': 50}

### Producing the bill for the purchase

In [8]:
print("*" * 37 ,"WARDROBE INVENTORY MANAGEMENT SYSTEM USING JSON","*" * 41)
name = input("\n\t\t\t\t\tEnter name of the customer :")
id = input("\t\t\t\t\tEnter the id : ")
qty = int(input("\t\t\t\t\tEnter the quantity : "))
if  id in record:
    if qty > 1:
        print("\n\t\t\t\t\tName of the Customer is :",name)
        print("\t\t\t\t\tId of the product is: ", id)
        print("\t\t\t\t\tName of the product : ", record[id]['Name'])
        print("\t\t\t\t\tQuantity of product to be bought :", qty)
        print("\t\t\t\t\tActual Price of the Product : " , record[id]['Price']*qty)
        print("\t\t\t\t\tDiscount available on product : ", record[id]['Discount'])
        new_price =  (record[id]['Price']) * ((record[id]['Discount'])/100)  * qty
        print("\t\t\t\t\tDiscounted price of product : ", int(new_price))
    elif qty==1:
        print("\n\t\t\t\t\tName of the Customer is :",name)
        print("\t\t\t\t\tId of the product is: ", id)
        print("\t\t\t\t\tName of the product : ", record[id]['Name'])
        print("\t\t\t\t\tQuantity of product to be bought :", qty)
        print("\t\t\t\t\tActual Price of the Product : " , record[id]['Price']*qty)
        print("\t\t\t\t\tDiscount available on product : ", record[id]['Discount'])
        new_price =  (record[id]['Price']) * ((record[id]['Discount'])/100)  * qty
        print("\t\t\t\t\tDiscounted price of product : ", int(new_price))
    elif qty ==0:
        print("\n\t\t\t\t\tName of the Customer is :",name)
        print("\t\t\t\t\tId of the product is: ", id)
        print("\t\t\t\t\tName of the product : ", record[id]['Name'])
        print("\t\t\t\t\tQuantity of product to be bought :", qty)
        print("\t\t\t\t\tActual Price of the Product : " , record[id]['Price']*qty)
        print("\t\t\t\t\tDiscount available on product : ", record[id]['Discount'])
        new_price =  (record[id]['Price']) * ((record[id]['Discount'])/100)  * qty
        print("\t\t\t\t\tDiscounted price of product : ", int(new_price))
    else: #if the input for quantity is negative 
        print("\t\t\t\t\tInavlid Input as the quantity is in negative format ")
else:
    print("Invalid Input")
print("\n")
print("*" * 127)

************************************* WARDROBE INVENTORY MANAGEMENT SYSTEM USING JSON *****************************************

					Enter name of the customer :Sidharth S Unnithan
					Enter the id : 11602260
					Enter the quantity : 90

					Name of the Customer is : Sidharth S Unnithan
					Id of the product is:  11602260
					Name of the product :  LOUIS VUITTON
					Quantity of product to be bought : 90
					Actual Price of the Product :  22500
					Discount available on product :  50
					Discounted price of product :  11250


*******************************************************************************************************************************

### Updating the dictionary

In [9]:
record[id]['Qty'] = record[id]['Qty'] - qty
record

{'11602260': {'Name': 'LOUIS VUITTON',
  'Mft. Date': '23-01-2021',
  'Qty': 9910,
  'Price': 250,
  'Discount': 50},
 '11602261': {'Name': 'GUCCI',
  'Mft. Date': '25-01-2021',
  'Qty': 9500,
  'Price': 240,
  'Discount': 45},
 '11602262': {'Name': 'VERSACE',
  'Mft. Date': '27-01-2021',
  'Qty': 9000,
  'Price': 230,
  'Discount': 40},
 '11602263': {'Name': 'PRADA',
  'Mft. Date': '29-01-2021',
  'Qty': 8500,
  'Price': 220,
  'Discount': 35},
 '11602264': {'Name': 'GIVENCHI',
  'Mft. Date': '31-01-2021',
  'Qty': 8000,
  'Price': 210,
  'Discount': 30},
 '11602265': {'Name': 'ARMANI',
  'Mft. Date': '03-02-2021',
  'Qty': 7500,
  'Price': 200,
  'Discount': 25},
 '11602266': {'Name': 'FENDI',
  'Mft. Date': '05-02-2021',
  'Qty': 7000,
  'Price': 190,
  'Discount': 20},
 '11602267': {'Name': 'CHANEL',
  'Mft. Date': '07-02-2021',
  'Qty': 6500,
  'Price': 180,
  'Discount': 15},
 '11602268': {'Name': 'RALPH LAUREN',
  'Mft. Date': '09-02-2021',
  'Qty': 6000,
  'Price': 170,
  'Discount': 10},
 '11602269': {'Name': 'HUGO BOSS',
  'Mft. Date': '11-02-2021',
  'Qty': 5500,
  'Price': 160,
  'Discount': 50},
 '11602270': {'Name': 'HERMES',
  'Mft. Date': '13-02-2021',
  'Qty': 5000,
  'Price': 160,
  'Discount': 45},
 '11602271': {'Name': 'YVES SAINT LAURENT',
  'Mft. Date': '15-02-2021',
  'Qty': 4500,
  'Price': 160,
  'Discount': 40},
 '11602272': {'Name': 'DIOR',
  'Mft. Date': '17-02-2021',
  'Qty': 4000,
  'Price': 150,
  'Discount': 35},
 '11602273': {'Name': 'VALENTINO',
  'Mft. Date': '19-02-2021',
  'Qty': 3500,
  'Price': 140,
  'Discount': 30},
 '11602274': {'Name': 'SALVATORE FERRAGAMO',
  'Mft. Date': '21-02-2021',
  'Qty': 3000,
  'Price': 130,
  'Discount': 25},
 '11602275': {'Name': 'DOLCE & GABBANA',
  'Mft. Date': '23-02-2021',
  'Qty': 2500,
  'Price': 120,
  'Discount': 20},
 '11602276': {'Name': 'MARC JACOBS',
  'Mft. Date': '25-02-2021',
  'Qty': 2000,
  'Price': 110,
  'Discount': 15},
 '11602277': {'Name': 'GUESS',
  'Mft. Date': '27-02-2021',
  'Qty': 1500,
  'Price': 100,
  'Discount': 10},
 '11602278': {'Name': 'ABERCROMBIE & FITCH',
  'Mft. Date': '29-02-2021',
  'Qty': 1000,
  'Price': 90,
  'Discount': 50},
 '11602279': {'Name': 'TED BAKER',
  'Mft. Date': '31-02-2021',
  'Qty': 900,
  'Price': 80,
  'Discount': 45},
 '11602280': {'Name': 'CHRISTIAN LOUBOUTIN',
  'Mft. Date': '3-03-2021',
  'Qty': 800,
  'Price': 70,
  'Discount': 40},
 '11602281': {'Name': 'CHLOE',
  'Mft. Date': '05-03-2021',
  'Qty': 700,
  'Price': 60,
  'Discount': 35},
 '11602282': {'Name': 'ALEXANDER MCQUEEN',
  'Mft. Date': '07-03-2021',
  'Qty': 600,
  'Price': 50,
  'Discount': 30},
 '11602283': {'Name': 'BURBERRY',
  'Mft. Date': '09-03-2021',
  'Qty': 500,
  'Price': 40,
  'Discount': 25},
 '11602284': {'Name': 'COACH',
  'Mft. Date': '11-03-2021',
  'Qty': 400,
  'Price': 30,
  'Discount': 20},
 '11602285': {'Name': 'COBB',
  'Mft. Date': '13-03-2021',
  'Qty': 300,
  'Price': 20,
  'Discount': 15},
 '11602286': {'Name': 'LOUIS PHILLIPE',
  'Mft. Date': '15-03-2021',
  'Qty': 200,
  'Price': 18,
  'Discount': 10},
 '11602287': {'Name': 'ALLEN SOLLY',
  'Mft. Date': '17-03-2021',
  'Qty': 190,
  'Price': 16,
  'Discount': 50},
 '11602288': {'Name': 'NIKE',
  'Mft. Date': '19-03-2021',
  'Qty': 180,
  'Price': 15,
  'Discount': 45},
 '11602289': {'Name': 'ADIDAS',
  'Mft. Date': '21-03-2021',
  'Qty': 100,
  'Price': 10,
  'Discount': 40}}

### Fetching data of record on the basis of discount

In [10]:
id = input("Enter the id : ")
disc = int(input("Enter the discount : "))
if  id in record:
    if disc == record[id]['Discount']:
        print("Name of the product is : ",record[id]['Name'])
        print("Actual price  of the product is : ",record[id]['Price'])
        disc_price = (record[id]['Price']) * ((record[id]['Discount'])/100)
        print("Discounted price  of the product is : ",int(disc_price))
    elif disc > record[id]['Discount']:
        print("Name of the product is : ", record[id]['Name'])
        print("Actual price of the product is : ", record[id]['Price'])
        disc_price = ((record[id]['Price']) * ((record[id]['Discount'])/100)) + disc 
        print("Discounted price of the product is : ", int(disc_price))
    elif disc < record[id]['Discount'] and disc >= 0:
        print("Name of the product is : ", record[id]['Name'])
        print("Actual price of the product is : ", record[id]['Price'])
        disc_price = ((record[id]['Price']) * ((record[id]['Discount'])/100)) - disc
        print("Discounted price of the prodcut is : ", int(disc_price))
    else:       #if discount < 0
        print("Price can't be generated for a negative value of discount")
else:
    print("Invalid Input")

Enter the id : 11602261
Enter the discount : 45
Name of the product is :  GUCCI
Actual price  of the product is :  240
Discounted price  of the product is :  108

### Updating the inventory

In [11]:
js = json.dumps(record)
fd = open("record.json","w")
fd.write(js)
fd.close()